SLACK_BOT_TOKEN="xoxb-<bot_token>"
SLACK_SIGNING_SECRET="<signing_secret>"
SLACK_APP_TOKEN="xapp-<app_token>"
PORT=3000
DEVELOPMENT=false
PARTICIPANTS=4
TLS_PRIVKEY="/etc/letsencrypt/live/<yourdomain>/privkey.pem"
TLS_CERT="/etc/letsencrypt/live/<yourdomain>/cert.pem"
SOCKET_MODE=false
START_OF_DAY=6
END_OF_DAY=20
APPLICATIONINSIGHTS_CONNECTION_STRING="<application_insights_connectionstring>"