{
  "channels": [
      {
          "poolChannel": "<channel-name>",
          "announcementsChannel": "<channel-name>"
      },
      {
          "poolChannel": "<channel-name>",
          "announcementsChannel": "<channel-name>"
      }
  ]
}